@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 208 79% 8%;
    --foreground: 0 0% 97%;
    --card: 202 71% 13%;
    --card-foreground: 0 0% 97%;
    --popover: 208 79% 8%;
    --popover-foreground: 0 0% 97%;
    --primary: 177 79% 41%;
    --primary-foreground: 0 0% 97%;
    --secondary: 202 71% 13%;
    --secondary-foreground: 0 0% 97%;
    --muted: 202 71% 13%;
    --muted-foreground: 198 12% 72%;
    --accent: 177 79% 41%;
    --accent-foreground: 0 0% 97%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 97%;
    --border: 204 29% 20%;
    --input: 204 29% 20%;
    --ring: 177 79% 41%;
    --radius: 0.75rem;

    --chart-1: 177 79% 41%;
    --chart-2: 177 79% 36%;
    --chart-3: 282 39% 53%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .light {
    --background: 0 0% 97%;
    --foreground: 208 79% 8%;
    --card: 0 0% 100%;
    --card-foreground: 208 79% 8%;
    --popover: 0 0% 100%;
    --popover-foreground: 208 79% 8%;
    --primary: 177 79% 41%;
    --primary-foreground: 0 0% 97%;
    --secondary: 0 0% 100%;
    --secondary-foreground: 213 10% 30%;
    --muted: 0 0% 100%;
    --muted-foreground: 213 10% 30%;
    --accent: 177 79% 41%;
    --accent-foreground: 0 0% 97%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 97%;
    --border: 203 14% 88%;
    --input: 203 14% 88%;
    --ring: 177 79% 41%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
